body {
    background-color: #000;
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 30px;
}

h1 {
    font-size: 50px;
    text-align: center;
    color: #fff;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: #ffffff;
}

th {
    font-size: 20px;
    background-color: #faf037;
    padding: 3%;
    border: 2px solid #000;
    text-align: left;
}

td {
    padding: 2%;
    border: 2px solid #000;
    text-align: left;
}